.hero-container{
    background-color:#fb5607;;
    height: 80vh;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 2 rem;
    width: 50%
}
.stay-curious{
    font-size: 6rem;
}
.discover{
    font-size: 2rem;
    line-height: 2rem;
}

.start-reading {
    background-color: var(--black);
    width: 200px;
    color: var(--white);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: all 500ms ease;
}
.start-reading:hover {
    background-color: var(--white);
    color: var(--black);
}